<div class="shadow p-4 border">
    @if(editUserId){
    <h2 class="text-xl font-semibold">Update User</h2>
    }@else {
        <h2 class="text-xl font-semibold">Add User</h2>
    }
    <form [formGroup]="userForm">
        <div class="flex flex-wrap">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Age</mat-label>
                <input type="text" matInput formControlName="age" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>password</mat-label>
                <input type="password" matInput formControlName="password" />
            </mat-form-field>
        </div>
        <div class="flex justify-center">
            @if(editUserId){
        <button mat-raised-button color="primary" (click)="updateUser()">Update</button>
            }@else {
            <button mat-raised-button color="primary" (click)="addUser()">Add</button>
            }
            

        </div>
    </form>
</div>